.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover {
  background-color: #ebebeb;
}
.sidebarChat__info > h4{
  font-size: 16px;
  margin-bottom: 8px;
  color: #222;
}
.sidebarChat__info {
  font-size: 14px;
  color: grey;
}
.sidebarChat__info {
  margin-left: 15px;
}